	
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body,#page, header { height:100%;}

#page { position:relative;}
#content { padding-bottom:130px;} /* FOOTER HEIGHT */



 body {background-image:url(http://i1378.photobucket.com/albums/ah112/Tormod_Smith/chuckKarate_zpsvg231zck.jpg);
	  background-repeat:no-repeat;
	  background-position: center;
	  background-size: cover;
	  font-family:'Abril Fatface';
	  clear:both;
	 }

h2 { font-size: 3em;
	margin:0.5em;
	color: orange;
	display: inline-block;
	position:relative;
	font-family:'Abril Fatface';
	vertical-align: top;
	}
*input { font-family: 'Abril Fatface';}	

header { vertical-align: top;
		 width:100%;
		 height:5em;
		 display:block;
		}
section {width:100%;
		
		}

footer {color:orange;
		text-align: center;}		

#nav { 	display: inline-block;
		float:right;	 
	}	

#nav li {display:inline-block;
		position: relative;}	

#restartQuiz,#help { font-family:'Abril Fatface';
					 top:3em;
					 font-size: 1.2em;
					 display: inline-block;
					 border-radius: 15px;
					 float: right;
					 background:orange;
					 width:8em;
					 margin:1em 1em;
					 padding:0.75em;
					 border:solid orange;
					 text-align: center;
					}	

.qna { width:60%;
	   display: inline-block;
	   position: relative;
	   overflow: hidden;
	   padding: 3em;
	   padding-left: 10em;
	   font-family:'Roboto';
	}
/* ans1, #ans2, #ans3 {  */
					
.selected {background-color:green;}

#questionBar { 	display: block;
				position:relative;
				background: black;
				margin: 0;
				padding: 1em;
				text-align: center;
				border-radius:15px;
				font-size: 2em;
				color: orange;
				vertical-align: top;
				width: 70%;
				}			 			 

.answerList { 	display: block;
				position:relative;
				background: black;
				border-radius: 15px;
			    list-style: none;
				width: 70%;
				margin:1em 0;
				padding: 1em;
				vertical-align: top;
			}


.answerList button { margin: 2em 1em;
				 font-size:1.5em;
				 color:orange;
				background-color: #2a2a2a;
				border-radius: 15px;
				border: solid #2a2a2a;
				 width:80%;	
				height:auto;}	

#Popup { 	   background-color: black;
			   display:none;
			   position: absolute;
			   float:right;
			   width:30em;
			   height:22em;
			   padding: 1em;
			   margin-top: 1em;
			   margin-left: 5em;
			   border-radius: 15px;
			   border-color: orange;
			   border-style: solid;
			   font-size: 2em;
			   z-index: 1;
			}
#helpSheet {   color: orange;
			   background-color: black;
			   display:none;
			   position: absolute;
			   float:right;
			   width:30em;
			   height:20em;
			   padding:1em;
			   margin:5em 20em 0em 20em;
			   border-radius: 15px;
			   border-color: orange;
			   border-style: solid;
			   z-index: 1;
			   font-size: 2em;
			   text-align: center;
			}

.button{ 			width:auto;
					float:center;
					margin: 0 auto;
					border-radius: 15px;
					color:orange;
					background-color:#2a2a2a; 
				 }	

#popupContinueButton {  display:block;
						position: relative;
						float:center;
						text-align: center;

					 }

.responses{ list-style: none;
			color:orange;
			text-align: center;}			

 .rightTxt  { display: none;
			 color:green;
		/* 	 background-image: url('../img/chuckFlying.gif'); 
		background-repeat: no-repeat;
		background-position:top; */
			 text-align: center;
			}	
.wrongTxt { 	display: none;
				color: red;
				/* background-image: url('../img/pow.png'); 
				background-repeat: no-repeat;
				background-position:top; */
				text-align: center;
				margin: 2em;
				padding:2em;
				height:10em;
	  	  }			
			 


.fistWrapper { width:70%;			
			 }			
.fistWrapper img { width: 5em;
				   height: 5em;
				   border-radius: 25px;
				   margin:0.5em;
				   }

#szlider{   width:100%;
		    height:15px;
		    border:1px solid #000;
		    border-radius: 15px;
		    overflow:hidden; }
#szliderbar{ width:0%;
		    height:15px;
		    border-right: 1px solid #000000;
		    background: orange }

#szazalek {	width: 100%;
		    color: #000000;
		    font-size: 15px;
		    font-style: italic;
		    font-weight: bold;
		    left: 25px;
		    position: relative;
		    top: -16px; }

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}


		
@font-face  {
    font-family: "comical";
    src: url("../animeace2bb_ot/animeace2_reg.otf");
}   

footer { clear: both;
		 height:auto;
		}
